.title {
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;

    margin-top: 100px;
}

.linksContainer {
    height: clamp(60vh, fit-content, 100vh);
    width: clamp(240px, 65%, 460px);
    margin: 0 auto;
    margin-bottom: 130px;
}

.singleLinkContainer {
    height: fit-content;
    width: 100%;

    border-bottom: 2px solid;
    padding: 8px;
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.linkTitle {
    float: left;
    text-decoration: none;
}

.linkTitle:hover {
    text-decoration: underline;
}

.linkDesc {
    float: right;
}