.pageContainer {
    width: 100%;
    height: fit-content;

    background-color: rgba(0, 128, 0, 0);
}

.contentAlignmentContainer {
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10%;

    background-color: rgba(233, 197, 153, 0);
}

.tagLineTextContainer {
    width: 80%;
    
    background-color: rgba(127, 255, 212, 0);
}

.tagLineText {
    font-size: 50px;
    margin: 10px;
    margin-left: 0;
    
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.optionsTreeContainer {
    width: 90%;
    margin-left: auto;
    
    background-color: rgba(53, 53, 149, 0);
}

.algoTextHeader {
    text-align: right;
    margin-top: 80px;
    font-size: 35px;
    text-decoration: underline;
}