.pageContainer {
    width: 100%;
    height: 100vh;
}

.contentAlignmentContainer {
    width: 50%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 10%;
}

.tagLineTextContainer {
    width: 80%;
    
    transition: all 0.8s ease-in-out;
}

.tagLineText {
    font-size: 50px;
    margin: 10px;
    margin-left: 0;
    
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.optionsTreeContainer {
    width: 90%;
    margin-left: auto;

    transition: all 0.8s ease-in-out;
}

.algoTextHeader {
    text-align: right;
    margin-top: 80px;
    font-size: 35px;
    text-decoration: underline;
}