.footerContainer {
    height: fit-content;
    width: fit-content;
    padding: 1.125em;

    margin: auto;
    text-align: center;
}

.word {
    text-decoration: none;
}

.word:hover {
    text-decoration: underline;
}

p.copy{
    display: block;
    font-size: .83em;
    font-weight: bold;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
}