.footerContainer {
    height: fit-content;
    width: fit-content;
    padding: 20px;

    margin-left: 25%;
}

.word, .copy {
    display: inline-block;
    margin: 10px;
    padding-right: 10px;
    margin-right: 0;
    border-right: 2px solid black;

    text-decoration: none;
}

.word:hover {
    text-decoration: underline;
}