.mainContainer {
    margin: 1em 0em;
}

.alignmentContainer {
    height: fit-content;
    width: 40%;

    margin: 0 auto;
}

.leftContainer {
    width: fit-content;
    display: inline-block;
}

.rightContainer {
    width: fit-content;
    float: right;
}

.linksContainer {
    height: fit-content;
    width: 150%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.logo,
.link {
    font-size: large;
    text-decoration: none;
    font-weight: bold;

    transition: all 0.2 ease-in-out;
}

.logo:hover,
.link:hover {
    text-decoration: underline;
}