.barContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border: 0.125em solid;
    padding-top: 0.5em;
}

.graphBar {
    display: inline-block;
    width: 0.3125em;
    margin: 0em;
    margin-top: auto;
    padding-bottom: 1.25em;
}