.barContainer {
    width: 100%;
    height: fit-content;
    margin-top: 50px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border: 2px solid;
}

.graphBar {
    background-color: red;

    display: inline-block;
    width: 5px;
    margin: 2px;
    margin-top: auto;
    padding-bottom: 20px;
}