.alignmentContainer {
    width: 40%;
    height: fit-content;
    margin: 100px auto;
}

.algoContainer {
    width: 100%;
    height: fit-content;
}

.wordsContainer {
    width: 80%;
    height: fit-content;

    margin: 0 auto;
    margin-top: 100px;
}

.title {
    font-size: xx-large;
    text-align: center;
    margin: 2px;
    text-decoration: underline;
}