.alignmentContainer {
    width: 40%;
    height: fit-content;
    margin: 100px auto;
}

.algoContainer {
    border: 2px solid;
    width: 100%;
    height: fit-content;
}

.wordsContainer {
    border: 2px solid;

    width: 100%;
    height: fit-content;

    margin-top: 200px;
}

.title {
    font-size: xx-large;
    text-align: center;
    margin: 2px;
}