.p {
    text-align: left;
    font-size: 1.125em;
    
    margin: 0.25em 0 1.25em 0;
    font-weight: 400;
}

.h, .hc {
    text-align: left;
    font-size: 1.5em;

/*    margin: 40px 0 10px 0;
    margin-top: 80px;*/
}

.hc {
    text-align: center;
}

.RefLink {
    color: inherit;
    font-size: inherit;
    font-family: inherit;

    text-decoration: underline;
    cursor: pointer;
}

.RefLink:hover {
    text-decoration: none;
}

.descriptionText {
    max-width: 45%;
    min-width: 45%;
}

.descriptionText .p{
    white-space: pre-wrap;
}