.mainContainer {
    width: fit-content;
    height: fit-content;
    overflow-x: visible;
    margin: 0 auto;

    min-width: 360px;
}

.cell, .cellOther {
    background-color: rgb(195, 195, 195);
    
    width: 30px;
    height: 30px;
    margin: 0;
    font-size: x-large;
    border: 1px solid black;

    overflow: hidden;
    display: inline-block;

    text-align: center;
}

.cellOther {
    background-color: rgb(105, 105, 105);
}

.row {
    width: fit-content;
    margin-bottom: -4px;
}

.clickedMine {
    background-color: rgba(148, 43, 43, 0.477);
}