.mainContainer {
    display: inline-block;
}

/*can not set height to 1.5 em, when doing so it scales diffrenly form normal*/
.btn {
    /*transition: all 0.1s ease-in-out;*/
    font-size: x-large;
    border: 0 solid transparent;
    background-color: transparent;
    padding: 0em;
    /*transform: translateX(-0.625em);*/
}

/*.btn:nth-child(1){
    transform: translateX(0.625em);
}

.btn:hover {
    transform: translateX(-0.5em);
}

.btn:nth-child(1):hover{
    transform: translateX(0.5em);
}*/

.currSpeedContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.speedBar {
    height: 1.5em;
    width: 0.5em;
    margin: 0.125em;
/*    margin: 1px;
    margin-top: 2px;

    border: 2px solid;
    padding: 1px;*/
}